/**
 * Checkout
 */
.checkout_form {

	.woocommerce-shipping-methods {
		li {
			input {
				width: auto;
			}

			label {
				margin-left: 10px;
			}
		}
	}

}

.shipping_address {
	width: 100%;
}

.woocommerce-shipping-fields__field-wrapper {
	margin-top: 20px;
}

.order-notes {
	margin-top: 20px;

	.notes, .woocommerce-additional-fields__field-wrapper {
		width: 100%;
	}

	.woocommerce-input-wrapper {
		width: 100%;
		display: block;
	}

	textarea {
		height: 100px;
	}
}

.order_table {
	.cart_item {
		display: table-row;
		width: 100%;
		overflow: auto;

		td {
			width: 50%;
		}
	}
}

.wc_payment_method {
	margin-bottom: 1em;
}

#ph_billing_is_residential_field, .shipping-address-checkbox, #ph_shipping_is_residential_field {
	display: none;
}

#order_review_heading {
	margin-bottom: 0;
}